{
    "extends": [
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": [1, {
            "singleQuote": true,
            "trailingComma": "es5"
        }],
        "space-infix-ops": 2,
        "strict": 2,
        "generator-star-spacing": 1,
        "object-shorthand": 1,
        "no-await-in-loop": 1,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "semi": [2, "always"],
        "new-cap": [2, {
            "capIsNewExceptions": ["List", "Map", "Record", "Set", "OrderedSet"]
        }],
        "no-unused-vars": 1,
        "no-console": 1,
        "react-hooks/rules-of-hooks": 2,
        "react-hooks/exhaustive-deps": 1,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/ban-ts-ignore": 0,
        "@typescript-eslint/explicit-function-return-type": 0
    },
    "plugins": [
        "babel",
        "@typescript-eslint",
        "react",
        "prettier",
        "react-hooks"
    ]
}
