{
    "extends": [
        "plugin:prettier/recommended",
        "prettier/flowtype",
        "prettier/react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": [1, {
            "singleQuote": true,
            "trailingComma": "es5"
        }],
        "space-infix-ops": 2,
        "strict": 2,
        "generator-star-spacing": 1,
        "object-shorthand": 1,
        "no-await-in-loop": 1,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "semi": [2, "always"],
        "new-cap": [2, {
            "capIsNewExceptions": ["List", "Map", "Record", "Set", "OrderedSet"]
        }],
        "no-unused-vars": 1,
        "no-console": 1
    },
    "plugins": [
        "babel",
        "react",
        "flowtype",
        "prettier"
    ]
}
